@page
@model razor_recipes.Pages.Admin.Categories.DeleteModel;
@{
    ViewData["Title"] = "Delete";
}
<div class="container border border-1 p-5">
    <h3>@ViewData["Title"]</h3>
    <hr>
    <div class="row">
        <form method="post">
            <input hidden asp-for ="Category.Id">
            <div class="mb-3">
                <div  class="text-danger" asp-validation-summary="ModelOnly"></div>
                <label class="form-label" asp-for="Category.Name">Name</label>
                <input class="form-control" asp-for="Category.Name" disabled>
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Category.DisplayOrder">Display Order</label>
                <input class="form-control" asp-for="Category.DisplayOrder" disabled>
                <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger" style="width: 150px;">Delete</button>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}