@page
@model IndexModel
@{
    ViewData["Title"] = "Categories";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3>List of All Category</h3>
            <hr/>
        </div>
        <div class="col-6 end-0">
            <a class="btn btn-primary">Create</a>
        </div>
    </div>
    <div class="row">
        <table class ="table table-hover table-bordered table-striped" style="width:50%">
            <thead>
                <tr>
                    <th class="bg-secondary text-white">Category Name</th>
                    <th class="bg-secondary text-white">Display Order</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var Category in Model.categories)
                {
                    <tr>
                        <td>@Category.Name</td>
                        <td>@Category.DisplayOrder</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>