@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-8 col-sm-12">
        <!-- CATEGORY SLIDER START -->
        <div class="row py-2">
            <div class="col-12">
                <div id="category-slider" class="text-center">
                    <div>SOUTH-INDIAN</div>
                    <div>VEG</div>
                    <div>STREET FOOD</div>
                    <div>CURRY</div>
                    <div>CHICKEN</div>
                    <div>BREAKFAST</div>
                    <div>QUICK</div>
                    <div>EASY</div>
                    <div>PARATHA</div>
                </div>
            </div>
        </div>
        <!-- CATEGORY SLIDER END -->

        <!-- MAIN SLIDER START-->
        <div class="row py-2">
            <div class="col-12">
                <div id="main-slider">
                    <div class="single-slide">
                        <img width="700" height="500" src="~/images/Slider/Slider-1.jpg" alt="slider-img">
                    </div>
                    <div class="single-slide">
                        <img width="700" height="500" src="~/images/Slider/Slider-2.jpg" alt="slider-img">
                    </div>
                    <div class="single-slide">
                        <img width="700" height="500" src="~/images/Slider/Slider-3.jpg" alt="slider-img">
                    </div>
                    <div class="single-slide">
                        <img width="700" height="500" src="~/images/Slider/Slider-4.jpg" alt="slider-img">
                    </div>
                </div>
            </div>
        </div>
        <!-- MAIN SLIDER END-->

    </div>
    <div class="col-md-4 d-sm-none">

    </div>
</div>
