@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="main-section" class="py-4">
    <div class="container-xxl">
        <!-- CATEGORY SLIDER START -->
        <div class="p-1 mb-3">
            <div id="category-slider" class="">
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">SOUTH-INDIAN</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">SOUTH</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">MILK</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">BAKERY</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">CHICKEN</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">BAKERY</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">SOUP</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">MEAT</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">SHAKE</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">FAST-FOOD</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">COFFE</a>
                </div>
            </div>
        </div>
        <!-- CATEGORY SLIDER END -->

        <!-- MAIN SLIDER START-->

        <div id="main-slider">
            <div class="single-slide bg-cover">
                <div class="main-info">
                    <h1 class="Text">Lorem, ipsum dolor.</h1>
                </div>
                <img src="~/images/Slider/Slider-1.jpg" class="img-fluid" alt="slider-img">
            </div>
            <div class="single-slide bg-cover">
                <div class="main-info">
                    <h1 class="Text">Lorem, ipsum dolor.</h1>
                </div>
                <img src="~/images/Slider/Slider-2.jpg" class="img-fluid" alt="slider-img">
            </div>
            <div class="single-slide bg-cover">
                <div class="main-info">
                    <h1 class="Text">Lorem, ipsum dolor.</h1>
                </div>
                <img src="~/images/Slider/Slider-4.jpg" class="img-fluid" alt="slider-img">
            </div>
        </div>

        <!-- MAIN SLIDER END-->
    </div>
</section>

<section id="welcome-section" class="bg-img my-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title text-center mt-4 border-bottom border-black">
                    <h2>Welcome to Razore-Recipes</h2>
                </div>
                <p class="about-cont text-center  lh-base px-2 mt-3 mb-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ad eaque in id dolorem aliquid
                    esse reprehenderit nostrum itaque laborum aperiam facilis sit numquam possimus qui accusamus
                    voluptatem vel quis unde neque perspiciatis voluptate facere ex non.!
                </p>
            </div>
        </div>
    </div>
</section>

<section id="popular-section" class="py-4">
    <div class="row">
        <div class="col-12">
            <!-- SECTION TITLE -->
            <div class="section-title d-flex align-items-center justify-content-between border-bottom ms-4 my-2">
                <h3 class="pt-3 fw-bolder">Pick Popular one</h3>
                <div class="btn-group-sm d-md-block d-sm-none">
                    <a class="btn btn-primary py-2 px-3 top-rated-prev">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                    <a class="btn btn-primary py-2 px-3 top-rated-next">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>

            <!-- TOP RATED RECIPE SLIDER START -->
            <div id="toprate-slider" class="toprate-slider m-2 my-4">
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card rounded-0 mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top rounded-0" alt="French-Egg">
                        <div class="card-body pt-1 pb-3 px-4">
                            <h5 class="card-title my-3">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card rounded-0 mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top rounded-0" alt="French-Egg">
                        <div class="card-body pt-1 pb-3 px-4">
                            <h5 class="card-title my-3">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card rounded-0 mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top rounded-0" alt="French-Egg">
                        <div class="card-body pt-1 pb-3 px-4">
                            <h5 class="card-title my-3">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card rounded-0 mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top rounded-0" alt="French-Egg">
                        <div class="card-body pt-1 pb-3 px-4">
                            <h5 class="card-title my-3">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card rounded-0 mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top rounded-0" alt="French-Egg">
                        <div class="card-body pt-1 pb-3 px-4">
                            <h5 class="card-title my-3">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TOP RATED RECIPE SLIDER END -->

        </div>
    </div>
</section>

<section id="makers-section" class="py-4">
    <div class="row">

        <!-- SECTION TITLE -->
        <div class="section-title py-1 mb-3 border-bottom">
            <h3 class="pt-3 fw-bolder">Meet the Makers</h3>
        </div>

        <div class="col-md-4 col-sm-12 my-sm-4">

            <!-- CARD PROFILE STARTS -->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <div class="creators-card">
                        <img src="~/images/Profile/p-1.jpg" alt="" class="w-100 card-img-top">
                    </div>
                    <div class="p-4">
                        <h5 class="mb-0">John Smith</h5>
                        <p class="small text-muted my-2">Hi I am Mark. Professionla Cook Lorem ipsum dolor sit amet.
                            Lorem ipsum dolor sit amet.</p>
                        <ul class="social list-inline">
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-twitter-x"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- CARD PROFILE ENDS -->
        </div>

        <div class="col-md-4 col-sm-12 my-sm-4">

            <!-- CARD PROFILE STARTS -->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <div class="creators-card">
                        <img src="~/images/Profile/p-2.jpg" alt="" class="w-100 card-img-top">
                    </div>
                    <div class="p-4">
                        <h5 class="mb-0">Mark Rockwell</h5>
                        <p class="small text-muted my-2">Hi I am Mark. Professionla Cook. Lorem ipsum dolor sit amet.
                            Lorem ipsum dolor sit amet.</p>
                        <ul class="social list-inline">
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-twitter-x"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- CARD PROFILE ENDS -->
        </div>

        <div class="col-md-4 col-sm-12 my-sm-4">

            <!-- CARD PROFILE STARTS -->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <div class="creators-card">
                        <img src="~/images/Profile/p-3.jpg" alt="" class="w-100 card-img-top">
                    </div>
                    <div class="p-4">
                        <h5 class="mb-0">Eriak Hiezabel</h5>
                        <p class="small text-muted my-2">Hi I am Mark. Professionla Cook Lorem ipsum dolor sit amet.
                            Lorem ipsum dolor sit amet.</p>
                        <ul class="social list-inline">
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-twitter-x"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-0 border-0">
                                <a href="#">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- CARD PROFILE ENDS -->
        </div>
    </div>
</section>

<section id="newrecipe-section" class="py-4">
    <div class="row">
        <div class="col-12">
            <!-- SECTION TITLE -->
            <div class="section-title d-flex align-items-center justify-content-between border-bottom ms-4 my-2">
                <h3 class="pt-3 fw-bolder">Newest Recipes</h3>
                <div class="btn-group-sm d-lg-block d-sm-none">
                    <a class="btn btn-primary py-2 px-3 new-added-prev">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                    <a class="btn btn-primary py-2 px-3 new-added-next">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>

            <!-- NEW RECIPE SLIDER START -->
            <div id="new-recipe-slider" class="toprate-slider m-2 my-4">
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card rounded-0 mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top rounded-0" alt="French-Egg">
                        <div class="card-body pt-1 pb-3 px-4">
                            <h5 class="card-title my-3">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card rounded-0 mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top rounded-0" alt="French-Egg">
                        <div class="card-body pt-1 pb-3 px-4">
                            <h5 class="card-title my-3">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card shadow rounded-0 mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top rounded-0" alt="French-Egg">
                        <div class="card-body pt-1 pb-3 px-4">
                            <h5 class="card-title my-3">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card rounded-0 mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top rounded-0" alt="French-Egg">
                        <div class="card-body pt-1 pb-3 px-4">
                            <h5 class="card-title my-3">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card rounded-0 mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top rounded-0" alt="French-Egg">
                        <div class="card-body pt-1 pb-3 px-4">
                            <h5 class="card-title my-3">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
             <!-- NEW RECIPE SLIDER END -->
        </div>
    </div>
</section>