@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <div class="container-xxl">
        <!-- CATEGORY SLIDER START -->
        <div class="p-1">
            <div id="category-slider" class="">
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">SOUTH-INDIAN</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">SOUTH</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">MILK</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">BAKERY</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">CHICKEN</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">BAKERY</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">SOUP</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">MEAT</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">SHAKE</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">FAST-FOOD</a>
                </div>
                <div>
                    <a href="#" class="badge category-badge bg-secondary text-center rounded-0 ">COFFE</a>
                </div>
            </div>
        </div>
        <!-- CATEGORY SLIDER END -->

        <!-- MAIN SLIDER START-->

        <div id="main-slider" style="width: 100%;">
            <div class="single-slide">
                <img src="~/images/Slider/Slider-1.jpg" class="img-fluid" alt="slider-img">
            </div>
            <div class="single-slide">
                <img src="~/images/Slider/Slider-2.jpg" class="img-fluid" alt="slider-img">
            </div>
            <div class="single-slide">
                <img src="~/images/Slider/Slider-3.jpg" class="img-fluid" alt="slider-img">
            </div>
            <div class="single-slide">
                <img src="~/images/Slider/Slider-4.jpg" class="img-fluid" alt="slider-img">
            </div>
        </div>

        <!-- MAIN SLIDER END-->
    </div>
</section>

<section id="welcome-section" class="welcome-section bg-img">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title text-center mt-4 border-bottom border-black text-dark">
                    <h2>Welcome to Razore-Recipes</h2>
                </div>
                <p class="about-cont text-center  text-dark lh-base px-2 mt-3 mb-5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, ad eaque in id dolorem aliquid esse reprehenderit nostrum itaque laborum aperiam facilis sit numquam possimus qui accusamus voluptatem vel quis unde neque perspiciatis voluptate facere ex non.!
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h3 class="border-bottom">Top Ratted..</h3>
            </div>

            <!-- TOP RATED RECIPE SLIDER START -->
            <div id="toprate-slider" class="toprate-slider m-2">
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top" alt="French-Egg">
                        <div class="card-body py-1 px-2">
                            <h5 class="card-title">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top" alt="French-Egg">
                        <div class="card-body py-1 px-2">
                            <h5 class="card-title">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top" alt="French-Egg">
                        <div class="card-body py-1 px-2">
                            <h5 class="card-title">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top" alt="French-Egg">
                        <div class="card-body py-1 px-2">
                            <h5 class="card-title">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SINGLE SLIDER -->
                <div class="mx-2">
                    <div class="card mx-2">
                        <img src="~/images/Slider/Slider-1.jpg" class="card-img-top" alt="French-Egg">
                        <div class="card-body py-1 px-2">
                            <h5 class="card-title">French Egg with fries</h5>
                            <div class="d-flex justify-content-between">
                                <span><i class="bi bi-clock"></i>&nbsp;5m</span>
                                <i class="bi bi-circle-fill" style="color:red;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TOP RATED RECIPE SLIDER END -->

        </div>
    </div>
</section>